<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style1.css') }}">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"> -->
    <title>Home Page</title>
</head>
<body>
    <div class="container">
        <header class="left-sidebar">
            <div class="left-text">
                <a class="title" href="/dashboard">NIFTYSCOPE</a>
                <!-- <h1 class="title">NIFTYSCOPE</h1> -->
                <div class="bar-1"></div>
                <div class="left-links">
                    <p><a href="#">Trending</a></p>
                    <p><a href="#">Explore</a></p>
                    <p><a href="#">Latest</a></p>
                    <p><a href="#">Forum</a></p>
                </div>
                <div class="bar-2"></div>
                <div class="left-links-bottom">
                    <p><a href="#">Your NFTs</a></p>
                    <p><a href="#">Following</a></p>
                    <p><a href="#">Pinned</a></p>
                    <p><a href="#">Messages</a></p>
                </div>
                <div class="bar-3"></div>
                <div class="left-links-setting">
                    <p><a href="#">Wallet</a></p>
                    <p><a href="#">Settings</a></p>
                    <p><a href="/logout">Logout</a></p>
                </div>
            </div>
        </header>

        <div class="right-body">
            <div class="search-bar">
                <input type="search" placeholder="Search NFTs and accounts...">
                <div class="pfp">
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                    <div id="profile-container">
                        <image id="profileImage" src="\static\img\self.jpg" />
                    </div>
                    <input id="imageUpload" type="file" name="profile_photo" placeholder="Photo" required="" capture>
                </div>
            </div>
            
            <div class="main">
                <div class="card-body">
                    <article class="nft-card" onmouseover="addShadow(this)" onmouseleave="removeShadow(this)">
                        <a href="#">
                            <header class="card-header">
                                <!-- <span></span> -->
                            </header>
                        </a>
                        <div class="card-asset">
                            <div class="nft">
                                <img src="/static/img/bear1.JPG" alt="">
                            </div>
                        </div>
                        <div class="card-desc">
                            <div>
                                <span>Goon #454</span>
                                <div class="owner">
                                    <span><span class="desc-color">Owned by:</span> Dwight4</span>
                                </div>
                            </div>
                            <span><span class="desc-color">Purchased for:</span> <br> 1 eth</span>
                        </div>
                    </article>
                </div>
                <div class="card-body">
                    <article class="nft-card" onmouseover="addShadow(this)" onmouseleave="removeShadow(this)">
                        <a href="#">
                            <header class="card-header">
                                <!-- <span></span> -->
                            </header>
                        </a>
                        <div class="card-asset">
                            <div class="nft">
                                <img src="/static/img/apeGang_4294.jpg" alt="">
                            </div>
                        </div>
                        <div class="card-desc">
                            <div>
                                <span>ApeGang #4294</span>
                                <div class="owner">
                                    <span><span class="desc-color">Owned by:</span> jbags</span>
                                </div>
                            </div>
                            <span><span class="desc-color">Purchased for:</span> <br> .45 eth</span>
                        </div>
                    </article>
                </div>
                <div class="card-body">
                    <article class="nft-card" onmouseover="addShadow(this)" onmouseleave="removeShadow(this)">
                        <a href="#">
                            <header class="card-header">
                                <!-- <span></span> -->
                            </header>
                        </a>
                        <div class="card-asset">
                            <div class="nft">
                                <img src="/static/img/koala_agent_5186.jpg" alt="">
                            </div>
                        </div>
                        <div class="card-desc">
                            <div>
                                <span>Koala Agent #5186</span>
                                <div class="owner">
                                    <span><span class="desc-color">Owned by:</span> Happyf77</span>
                                </div>
                            </div>
                            <span><span class="desc-color">Purchased for:</span> <br> 3 eth</span>
                        </div>
                    </article>
                </div>
                <div class="card-body">
                    <article class="nft-card" onmouseover="addShadow(this)" onmouseleave="removeShadow(this)">
                        <a href="#">
                            <header class="card-header">
                                <!-- <span></span> -->
                            </header>
                        </a>
                        <div class="card-asset">
                            <div class="nft">
                                <img src="/static/img/canine_cartel_9226.jpg" alt="">
                            </div>
                        </div>
                        <div class="card-desc">
                            <div>
                                <span>Canine Cartel #9226</span>
                                <div class="owner">
                                    <span><span class="desc-color">Owned by: </span>D0D2FV</span>
                                </div>
                            </div>
                            <span><span class="desc-color">Purchased for:</span> <br> .5 eth</span>
                        </div>
                    </article>
                </div>
                

            </div>
        </div>

        <!-- <main>
            <h1 class="text-center">Welcome {{user.username}}</h1>
        </main> -->
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>