<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>NFT Project / Login Page</title>
</head>
<body>
    <div class="title-card">
        <h2 class="nft-title">NiftyScope</h2>
        <p class="nft-desc">Share your NFT collection with <br>other collectors around the world.</p>
        <div class="eth-platform">
            <img class="eth-logo" src="static\img\eth.png" alt="Ethereum Logo">
            <p class="nft-desc">NFT Social Platform</p>
        </div>
    </div>
    <div class="card">
        <form action="/login" method="post">
            <h2>Login</h2>
            <div class="email-form">
                <label for="email" class="font-color">Email:</label>
                <div>
                    <input placeholder="Email" type="text" name="email" class="form-control">
                </div>
            </div>
            {% with email_error = get_flashed_messages(category_filter=['email_login']) %}
                {% if email_error: %}
                    {% for message in email_error: %}
                        <p class="login-error">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="password-form">
                <label for="password" class="font-color">Password:</label>
                <div>
                    <input placeholder="Password" type="password" name="password" class="form-control">
                </div>
            </div>
            <button class="btn-12"><span>NFT Museum</span><span>Login</span></button>
            <p class="no-account">Don't have an account?<a class="btn-signup" href="/register"> Sign Up</a></p>
        </form>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>