<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"> -->
    <title>Register Page</title>
</head>
<body>
    <div class="card">
        <form action="/register/account" method="post">
            <h2>Sign Up</h2>

            <!-- <div class="mt-3">
                <label for="first_name">First Name:</label>
                <div class="">
                    <input type="text" name="first_name" class="form-control">
                    {% with f_name = get_flashed_messages(category_filter=['first_name']) %}
                        {% if f_name: %} 
                            {% for message in f_name: %}
                                <p class="text-danger">{{ message }}</p>
                            {% endfor %} 
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
            <div class="mt-2">
                <label for="last_name">Last Name:</label>
                <div class="">
                    <input type="text" name="last_name" class="form-control">
                    {% with l_name = get_flashed_messages(category_filter=['last_name']) %}
                        {% if l_name: %} 
                            {% for message in l_name: %}
                                <p class="text-danger">{{ message }}</p>
                            {% endfor %} 
                        {% endif %}
                    {% endwith %}
                </div>
            </div> -->
            
            <div class="email-form">
                {% with username = get_flashed_messages(category_filter=['username']) %}
                    {% if username: %} 
                        {% for message in username: %}
                            <p class="login-error">{{ message }}</p>
                        {% endfor %} 
                    {% endif %}
                {% endwith %}
                <label for="username"></label>
                <input placeholder="Username" type="text" name="username" class="form-control">
            </div>
            <div>
                {% with new_email = get_flashed_messages(category_filter=['email']) %}
                    {% if new_email: %} 
                        {% for message in new_email: %}
                            <p class="login-error">{{ message }}</p>
                        {% endfor %} 
                    {% endif %}
                {% endwith %}
                <label for="email"></label>
                <input placeholder="Email" type="text" name="email" class="form-control">
            </div>
            <div>
                {% with pass_w = get_flashed_messages(category_filter=['password']) %}
                    {% if pass_w: %} 
                        {% for message in pass_w: %}
                            <p class="login-error">{{ message }}</p>
                        {% endfor %} 
                    {% endif %}
                {% endwith %}
                <label for="password"></label>
                <input placeholder="Password" type="password" name="password" class="form-control">
            </div>
            <div>
                {% with cf_password = get_flashed_messages(category_filter=['con_password']) %}
                    {% if cf_password: %} 
                        {% for message in cf_password: %}
                            <p class="login-error">{{ message }}</p>
                        {% endfor %} 
                    {% endif %}
                {% endwith %}
                <label for="con_password"></label>
                <input placeholder="Confirm Password" type="password" name="con_password" class="form-control">
            </div>
            <button class="custom-btn btn-11">Register</button>
            <p class="no-account">Have an account? <a class="btn-signup" href="/">Login</a></p>
        </form>
    </div>
</body>
</html>